# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
liens_utiles.txt
SujetProjet.pdf
build-Sape*
Rapport_ShapeCollage.doc
build-Shape*
